* {
    font-family: HackNerdFontPropo;
    font-weight: bold;
    color: #EBDBB2;
    font-size: 12px;
}

window#waybar {
    /*background: alpha(#2E3440, 0);*/
    background: #1D2021;
}

button {
    border: none;
    border-radius: 24px;
}

.module {
    margin: 0px;
    background: #3C3836;
    border-radius: 24px;
    padding: 0px 8px 0px 8px;
}

menu menuitem:hover {
    background-color: #1D2021;
}


button:hover {
    background: inherit;
}
